[Desktop Entry]
Name=zipview
Type=Application
Comment=Image viewer for compressed manga/comic books
Exec=zipview %f
Icon=zipview
Terminal=false
Categories=Graphics;Viewer;
MimeType=application/zip;application/cbz;
Name[en_US]=zipview
